<main class="cuerpo">
    <nav class="uk-card uk-card-body"  uk-sticky="top: #offset">
        <a href="/products">PRODUCTOS</a>
        <a href="/promos">PROMOCIONES</a>
        <a href="/order">ARMA TU ORDEN</a>
        <a href="/">    <img src="../images/fy_logo.svg" alt="FY!" class="logomenu"></a>
        <a href="/contact">CONTACTO</a>
        {{#if this._id}}
            <a href="/auth/logout">LOGOUT</a>
            <a href="/profile">{{user.username}}</a>
        {{else}}
            <a href="/auth/login">INICIA SESIÓN</a>
            <a href="/auth/signup">REGÍSTRATE</a>
        {{/if}}
    </nav>
</main>