
{{> navbar user}}

<section class="uk-container form-container">

    <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
        <form class="uk-form-stacked uk-width-1-2">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Nombre</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-large" id="form-stacked-text" type="text" placeholder="ej. Pedro Parker">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Correo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-large" id="form-stacked-text" type="email" placeholder="ej example@example.com">
                </div>
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea uk-form-large" rows="5" placeholder="Mensaje..."></textarea>
            </div>

        </form>
    </div>

</section>