{{> navbar user}}

<br>
<br>
<span class="subtitles">PREGUNTAS FRECUENTES</span>

<section class="faq">
<ul uk-accordion>
    <li >
        <a class="uk-accordion-title preguntas-faq" href="#">¿Cómo puedo hacer mi orden?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Hacer tu orden es sencillo, sólo tienes que seleccionar una base.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Cuántos postres vienen en la caja que pida?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Puedes pedir la cantidad de postres que quieras. Las cantidad base de galletas es de 12 galletas, los muffins y las donas son 6 piezas por cada postre.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿En cuánto tiempo recibiré mi pedido?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Si haces tu orden de lunes a jueves, antes de las 11 am, la recibirás al siguiente día. Si lo haces después de las 11, lo recibirá dos días después. Si haces tu pedido el viernes, sábado o domingo, lo recibirás el martes.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Por qué son esos tiempos de entrega?</a>
        <div class="uk-accordion-content">
            <p class="faq-p"> Queremos que recibas tu orden con la mayor frescura posible. Es por eso que preparamos nuestros pedidos de esa manera.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Qué métodos de pago tengo?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Puedes pagar tu pedido con tarjeta de crédito o débito.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Está incluído el envío?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">En caso de que estes en la zona centro de la CDMX, el envío tiene un costo de 50 pesos, en caso de que estés fuera de esta zona, el costo es de 100 pesos.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Dónde preparan los postres?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Los postres son preparados en dos cocinas ubicada en la CDMX.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">¿Puedo regresar mi pedido?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">No es posible regresar tu pedido, debido a la personalización.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title preguntas-faq" href="#">Tengo un problema con mi órden ¿a dónde me puedo comunicar?</a>
        <div class="uk-accordion-content">
            <p class="faq-p">Por favor mándanos un correo a hola@fudgeyou.com</p>
        </div>
    </li>
</ul>
</section>