{{> navbar user}}

<br>
<br>
<span class="subtitles">PREGUNTAS FRECUENTES</span>

<section class="faq">
<ul uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">¿Cómo puedo hacer mi orden?</a>
        <div class="uk-accordion-content">
            <p>Hacer tu orden es sencillo, sólo tienes que seleccionar una base</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿Cuántos postres vienen en la caja que pida?</a>
        <div class="uk-accordion-content">
            <p>Puedes pedir la cantidad de postres que quieras. Las cantidad base de galletas es de 12 galletas, los muffins y las donas son 6 piezas por cada postre.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿En cuánto tiempo recibiré mi pedido?</a>
        <div class="uk-accordion-content">
            <p>Por el momento el tiempo de entrega es de 48 horas.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿Qué maneras tengo de pagar?</a>
        <div class="uk-accordion-content">
            <p>Puedes pagar tu pedido con tarjeta de crédito, débito o paypal.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿Está incluído el envío?</a>
        <div class="uk-accordion-content">
            <p>En caso de que estes en la zona centro de la CDMX, el envío tiene un costo de 50 pesos, en caso de que estés fuera de esta zona, el costo es de 100 pesos.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿Dónde preparan los postres?</a>
        <div class="uk-accordion-content">
            <p>Los postres son preparados en dos cocinas ubicada en la CDMX.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">¿Puedo regresar mi pedido?</a>
        <div class="uk-accordion-content">
            <p>No es posible regresar tu pedido, debido a la personalización.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Tengo un problema con mi órden ¿a dónde me puedo comunicar?</a>
        <div class="uk-accordion-content">
            <p>Por favor mándanos un correo a hola@fudgeyou.com</p>
        </div>
    </li>
</ul>
</section>