
<header class="logo">
    <img src="./images/fudgeyeah_logo.svg" alt="FUDGE YEAH!" class="logo-intro">
</header>


<main class="cuerpo">
    <nav class="uk-card uk-card-body" style="z-index: 1020;padding: 20px 40px; background:#fff" uk-sticky="top: #offset">
        <a href="">PRODUCTOS</a>
        <a href="">PROMOCIONES</a>
        <a href="">ARMA TU ORDEN</a>
        <a href="">CONTACTO</a>
        <a href="">INICIA SESIÓN</a>
        <a href="">REGÍSTRATE</a>
    </nav>

    <img src="./images/como_funciona.png" alt="Cómo funciona" class="img-how">
</main>

<div class=" "></div>



<!--<h1>{{title}}</h1>-->
