<form action="/contact" method="GET">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_epuiqKESrji9Ae5A3KlGduyb"
            data-amount="999"
            data-name="Fudge Yeah"
            data-description="Your payment"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
    </script>
</form>