<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Source+Code+Pro:400,600,700" rel="stylesheet">
</head>
<body>

{{{body}}}
<br>
<br>
<br>
<footer>

    <img src="/images/dona_footer.png" alt="hola dona" class="dona-footer">
    <div class="footer-log">
      <div>
          <li><span><b href="">AVISO DE PRIVACIDAD</b></span></li>
          <li><b href="">TÉRMINOS Y CONDICIONES</b></li>
          <li><b href="">FAQ</b></li>
          <li><b href="">CONTACTO</b></li>
      </div>
        <img src="/images/fudgeyeah_logo_footer.svg" alt="Fudge Yeah! logo" class="logo-footer">
    </div>


</footer>

<script src="/javascripts/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
