<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/style_order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Source+Code+Pro:400,600,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <style>
        .move-icon {
        position: relative !important;
        top: 30px !important;
        left: 10px !important;
        }
    </style>

</head>
<body>

{{{body}}}

<footer>

    <img src="/images/dona_footer.png" alt="hola dona" class="dona-footer">
    <div class="footer-log">
        <div>
            <li><b uk-toggle="target: #modal-close-default" href="">AVISO DE PRIVACIDAD</b></li>
            <li><b uk-toggle="target: #modal-container" uk-toggle href="">TÉRMINOS Y CONDICIONES</b></li>
            <li><a href="/faq" class="faq-page">FAQ</a></li>
            <li><a href="/contact" class="faq-page">CONTACTO</a></li>
        </div>
        <img src="/images/fudgeyeah_logo_footer.svg" alt="Fudge Yeah! logo" class="logo-footer">
    </div>


</footer>

<div id="modal-close-default" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title titulo-aviso">Aviso de privacidad</h2>
        <p class="texto-aviso">De acuerdo a lo Previsto en la “Ley Federal de Protección de Datos Personales”, declara Tempco México, S.A. de C.V., ser una empresa legalmente constituida de conformidad con las leyes mexicanas, con domicilio en Amado Nervo 60 Bis, Colonia San Francisco Tetecala, Delegación Azcapotzalco, C.P. 02730 en México, D.F.; y como responsable del tratamiento de sus datos personales, hace de su conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, tales como:</p>
        <ol>
            <li>Nombre Y/O Razón Social</li>
            <li> Dirección</li>
            <li>Registro Federal de Contribuyentes</li>
            <li>Teléfonos de Oficina y móviles</li>
            <li>Correo Electrónico</li>
        </ol>

        <p class="texto-aviso">Estos serán utilizados única y exclusivamente para los siguientes fines:</p>

        <ol>
            <li>Campañas de Publicidad</li>
            <li>Campañas de Fidelidad</li>
            <li>Información y Prestación de Servicios</li>
            <li>Actualización de la Base de Datos</li>
            <li>Cualquier finalidad análoga o compatible con las anteriores</li>
        </ol>


        <p class="texto-aviso">
            Para prevenir el acceso no autorizado a sus datos personales y con el fin de  asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente.  Así mismo, le informamos que sus datos personales pueden ser Transmitidos para ser tratados por personas distintas a esta empresa.   Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el país, por ello le informamos que usted tiene en todo momento los derechos (ARCO) de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a sus datos personales; derecho que podrá hacer valer a través del Área de Privacidad encargada de la seguridad de datos personales en el Teléfono 2451.4070.

            A través de estos canales usted podrá actualizar sus datos y especificar el medio por el cual desea recibir información, ya que en caso de no contar con esta especificación de su parte, Tempco México, S.A. de C.V., establecerá libremente el canal que considere pertinente para enviarle información.  Este aviso de privacidad podrá ser modificado por Tempco México, S.A. de C.V., dichas modificaciones serán oportunamente informadas a través de correo electrónico, teléfono, página web o cualquier otro medio de comunicación que Tempco México, S.A. de C.V., determine para tal efecto.
        </p>
        <p class="texto-aviso">ATENTAMENTE</p>

        <p class="texto-aviso">El equipo de FUDGE YEAH!</p>
    </div>
</div>


<div id="modal-container" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title titulo-aviso">Términos y Condiciones de Uso</h2>

        <h5>INFORMACIÓN RELEVANTE</h5>

        <p class="texto-aviso">Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>

        El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos.  no asume la responsabilidad en caso de que entregue dicha clave a terceros.

        Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>

        Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.</p>

        <h5>LICENCIA</h5>

        <p class="texto-aviso">a través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.</p>

        <h5>USO NO AUTORIZADO</h5>

        <p class="texto-aviso">En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>

        <h5>PROPIEDAD</h5>

        <p class="texto-aviso">Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad  de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan  sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será  responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>

        <h5>POLÍTICA DE REEMBOLSO Y GARANTÍA</h5>

        <p class="texto-aviso">En el caso de productos que sean  mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:</p>

        <ol>
            <li>De acuerdo a las especificaciones técnicas indicadas para cada producto.</li>
            <li>En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.</li>
            <li>En uso específico para la función con que fue diseñado de fábrica.</li>
            <li>En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.</li>
        </ol>

        <h5>COMPROBACIÓN ANTIFRAUDE</h5>

        <p class="texto-aviso">La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas. </p>

        <h5>PRIVACIDAD</h5>

        <p class="texto-aviso">Este sitio web  garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.

            La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.

            reserva los derechos de cambiar o de modificar estos términos sin previo aviso.

            Estas terminos y condiciones se han generado en terminosycondicionesdeusoejemplo.com. </p>
        </p>
    </div>
</div>

<script src="/javascripts/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaMYLdV7e8w9tEB0_KrBNwj4aT2Z_S-H4&libraries=places"></script>

</body>
</html>