<form action="/auth/login" method="post">

    <div>
        <label for="">
            Usuario:
            <input type="text" name="username">
        </label>
    </div>

    <div>
        <label for="">
            Contraseña:
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <button type="submit">Entrar</button>
    </div>


</form>