{{> navbar user}}

<div  class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container" >
            <div class="uk-grid-margin uk-grid uk-grid-stack">
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-medium">
                        
                        
                        <h3 class="uk-card-title uk-text-center" style="margin-bottom: ">Bienvenido de regreso</h3>
                        
                        <form action="/auth/login" method="POST" id="form-login">

                            
                                <div class="uk-inline uk-width-1-1 margin-bottom" style="margin-bottom: 30px;">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input  placeholder="Correo electrónico" class="uk-input" type="email" name="email">
                                </div>
                            
                            
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input placeholder="Contraseña" class="uk-input" type="password" name="password">
                                </div>
                            
                            <div class="uk-margin" style="display: flex; justify-content:center">
                                <button type="submit" class="uk-button uk-button-primary uk-button-medium uk-width-1-2@s boton-form">Iniciar Sesión</button>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                ¿No estás registrado? <a href="/auth/signup">Crea una cuenta</a>
                            </div>
                      
                       </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

