<h1 class="cuatrocerocuatro">404 FUDGE THIS SH*T!</h1>
<p class="centrado">Parece que algo por acá está roto.</p>

<section class="galleta">
    <section>
        <img src="images/404.png" width="500" alt="404">
    </section>
</section>