<h3>{{user}}</h3>

<form action="/order" method="post">
<div>
  <label for="base">Tipo</label>
  <select name="base" id="">
    <option value=""></option>
    <option value="Galleta">Galleta</option>
    <option value="Dona">Dona</option>
    <option value="Panqué">Panqué</option>
  </select>
</div>
<div>
  <label for="frosting">Frosting</label>
  <select name="frosting" id="">
    <option value="Sin frosting">Sin frosting</option>
    <option value="Tradicional">Tradicional</option>
    <option value="Chocolate">Chocolate</option>
    <option value="Fresa">Fresa</option>
  </select>
</div>

<div>
  <label for="toppings">Toppings</label>
  <select name="toppings" multiple>
  {{#each toppings}}
    <option class="toppings" value={{this._id}}>{{this.name}} <span class="prices" style="display:none;">{{this.price}}</span></option>
  {{/each}}
</select>
</div>
<div>
  <span id="priceText">0</span>
  <input style="display:none;" id="price" type="number" name="price" value="">
</div>
<button type="submit">Ordenar</button>
</form>

<script>
  var toppings = document.querySelectorAll('.toppings');
  console.log(toppings);
  var prices  = [];
  var total = 0;
  toppings.forEach((topping)=>{
    topping.addEventListener("click", () => {
      if(topping.selected) {
      var price = topping.innerHTML.slice(-2);
      prices.push(parseInt(price));
      total = prices.reduce((sum, val)=>{
        return sum + val;
      });
      document.querySelector('#priceText').innerHTML = total;
      document.querySelector('#price').value = total;
      console.log(total);

      }
    })
  })
</script>

