{{> navbar user}}
<br><br><br><br><br><br>
<div class="center">
  <h3>¡Tu orden ha sido enviada!</h3>
  <a href="/index" class="uk-button uk-button-primary uk-button-medium uk-width-1-4@s boton-form">Regresar</a>
</div>

<br><br><br><br><br><br>