{{> navbar user}}

<br><br><br><br><br><br>

<div class="center">

<h3>Hola {{user.username}}</h3>

<p><a href="/profile/{{user._id}}/edit">Actualiza tus datos</a></p>

</div>

<br><br><br><br><br><br>