
<h3>Actualiza tus datos</h3>

<form action="/profile/{{user._id}}/edit" method="post">

    <div>
        <label for="">
            Nombre:
            <input type="text" name="name">
        </label>
    </div>
    <div>
        <label for="">
            Apellido:
            <input type="text" name="lastname">
        </label>
    </div>
    <div>
        <label for="">
            Dirección:
            <input type="text" name="address">
        </label>
    </div>

  
  <div>
        <label for="">
           Número telefónico:
            <input type="text" name="phone">
        </label>
    </div>


  <div>
        <label for="">
            Correo electrónico:
            <input type="email" name="email">
        </label>
    </div>

    

    <div>
        <button type="submit">Actualizar</button>
    </div>



</form>
