{{> navbar user}}

<br>
<br>
<span class="subtitles">PROMOS DEL MES</span>

<section class="promos">
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://unareceta.com/wp-content/uploads/2017/06/receta-de-muffins-con-pepitas-de-chocolate.jpg" alt="" uk-cover>
        <canvas width="400" height="200"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Compra 6, te regalamos 2</h3>
            <p class="menu-description">Compra una orden de muffins y te regalamos 2 extras del mismo sabor.</p>
            <button class="uk-button uk-button-default boton-form" type="button"><a href="/order" class="order-home">Quiero postres</a></button>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="https://images-gmi-pmc.edge-generalmills.com/2a42f43a-9a0b-42e9-969e-f6da4eb8c5c3.jpg" alt="" uk-cover>
        <canvas width="400" height="200"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Donas de glaseado con tocino 20%</h3>
            <p class="menu-description"> Nuestro best seller con descuento para que te quites la duda de que esta combinación funciona.</p>
            <button class="uk-button uk-button-default boton-form" type="button"><a href="/order" class="order-home">Quiero postres</a></button>
        </div>
    </div>
</div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://store.chocoperfection.com/v/vspfiles/photos/7778_1-2T.jpg" alt="" uk-cover>
            <canvas width="400" height="200"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Extra chispas</h3>
                <p class="menu-description">En cualquier tipo de postre que pidas, si incluyes chispas de chocolate, una porción extra, va por nuestra cuenta.</p>
                <button class="uk-button uk-button-default boton-form" type="button"><a href="/order" class="order-home">Quiero postres</a></button>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="https://d6h7vs5ykbiug.cloudfront.net/wp-content/uploads/2012/04/Nutmeg_Donuts_with_Berry_Icing_10.jpg" alt="" uk-cover>
            <canvas width="400" height="200"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">WTF, What the fudge!</h3>
                <p class="menu-description">Dos glaseados por el mismo precio.</p>
                <button class="uk-button uk-button-default boton-form" type="button"><a href="/order" class="order-home">Quiero postres</a></button>

            </div>
        </div>
    </div>


</section>