<form action="/auth/signup" method="post">

    <div>
        <label for="">
            Usuario:
            <input type="text" name="username">
        </label>
    </div>

    <div>
        <label for="">
            Correo electrónico:
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label for="">
            Contraseña:
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <label for="">
            Confirmar contraseña:
            <input type="password" name="password-confirm">
        </label>
    </div>

    <div>
        <button type="submit">Registrarse</button>
    </div>



</form>