<form action="/auth/signup" method="post">
    <div>{{user}}</div>
    <div>
        <label for="username">
            Usuario:
            <input type="text" name="username" required>
        </label>
    </div>

    <div>
        <label for="email">
            Correo electrónico:
            <input type="email" name="email" required>
        </label>
    </div>

    <div>
        <label for="name">
            Nombre:
            <input type="text" name="name" required>
        </label>
    </div>
    <div>
        <label for="lastname">
            Apellido:
            <input type="text" name="lastname" required>
        </label>
    </div>
    <div>
        <label for="address">
            Dirección:
            <input type="text" name="address" required>
        </label>
    </div>

  
  <div>
        <label for="phone">
           Número telefónico:
            <input type="text" name="phone">
        </label>
    </div>


    <div>
        <label for="password">
            Contraseña:
            <input type="password" name="password" required>
        </label>
    </div>

    <div>
        <label for="password-confirm">
            Confirmar contraseña:
            <input type="password" name="password-confirm" required>
        </label>
    </div>

    <div>
        <button type="submit">Registrarse</button>
    </div>



</form>