{{> navbar user}}

<div  class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container" >
            <div class="uk-grid-margin uk-grid uk-grid-stack">
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-medium" style="width:70%; padding:5%;">
                       
                       
                        <h3 class="uk-card-title uk-text-center">Por favor, completa tu información de registro</h3>
                      
                      
                        <form action="/auth/signup" method="POST" id="form-signup" uk-grid>
                            
                                
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: user"></span>
                                            <input placeholder="Usuario" class="uk-input" type="text" name="username" required>
                                        </div>
                                    
                                    
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: info"></span>
                                            <input placeholder="Nombre" class="uk-input" type="text" name="name" required>
                                        </div>
                                    
                                
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: mail"></span>
                                            <input placeholder="Email" class="uk-input" type="email" name="email" required>
                                        </div>
                                    
                                    
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: info"></span>
                                            <input placeholder="Apellido" class="uk-input" type="text" name="lastname" required>
                                        </div>

                                
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: lock"></span>
                                            <input placeholder="Contraseña" class="uk-input" type="password" name="password" required>
                                        </div>
                                    
                                    
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: location"></span>
                                            <input id="autocomplete" placeholder="Dirección" class="uk-input" type="text" name="address" required>
                                        </div>
                                    
                                    
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: lock"></span>
                                            <input placeholder="Confirmar Contraseña" class="uk-input" type="password" name="password-confirm" required>
                                        </div>
                                    
                                    
                                        <div class="uk-inline uk-width-1-2@s" style="margin-top:10px;">
                                            <span class="uk-form-icon uk-inline move-icon" uk-icon="icon: phone"></span>
                                            <input placeholder="Teléfono" class="uk-input" type="text" name="phone">
                                        </div>
                            


                            <div class="uk-margin uk-width-1-1" style="display: flex; justify-content:center">
                                <button type="submit" class="uk-button uk-button-primary uk-button-medium uk-width-1-4@s boton-form">Registrarse</button>
                            </div>
                            <div class="uk-text-small uk-text-center uk-width-1-1" style="display: flex; justify-content:center; margin-top:0;">
                                ¿Ya estás registrado? <a href="/auth/login"> Inicia sesión</a>
                            </div>
                       </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Google Maps
window.onload = function () {
        const input = document.getElementById("autocomplete");
        const lat = document.getElementById("lat");
        const lng = document.getElementById("lng");
        const dropdown = new google.maps.places.Autocomplete(input);
        dropdown.addListener("place_changed", () => {
            console.log(dropdown.getPlace());
            let place = dropdown.getPlace();
            lat.value = place.geometry.location.lat();
            lng.value = place.geometry.location.lng();
            name.value = place.name;
        })
    }
</script>