body {
  padding: 0px;
  font-size: 12px;
}

nav{
  display: flex;
  justify-content: space-between;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  width: 100% !important;
}

header{
  background-color: #B5D3CC;
  display: flex;
  flex-direction: column;
  top: 100px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

main{
  margin: 50px;
}

.logo{
  height: 800px;
  background-color: #B5D3CC;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* logo*/
.logo-intro{
  height: 450px;
  width: 450px;
}

.cuerpo{
  margin: 0px;
}

.subtitles{
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #ecbeb7;
  padding-left: 8%;
  letter-spacing: 4px;
}

h1{
  font-family: "Source Code Pro", monospace !important;
  font-weight: 600 !important;
  font-size: 40px;
  color: #ecbeb7 !important;
  letter-spacing: 1px;
}

h3{
  font-family: "Source Code Pro", monospace !important;
  font-weight: 400 !important;
  font-size: 22px;
  color: #ecbeb7 !important;
  letter-spacing: 1px;
}

p{
  font-size: 16px;
  line-height: 40px;
}

footer{
  padding: 60px 100px 20px;
  background: #B5D3CC;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  letter-spacing: 6px;
  line-height: 50px;
  position: relative;
}


a:link {
  color: darkgray;
}

/* visited link */
a:visited {
  color: darkgrey !important;
}

/* mouse over link */
a:hover {
  color: #ecbeb7 !important;
  text-decoration: line-through!important;
}

/* selected link */
a:active {
  color: #ecbeb7 !important;
}


.dona-footer{
  height: 80px;
  position: absolute;
  right:60px;
  top:calc(100% - 342px);

}

.logo-footer{
  height: 200px;
  width: 200px;
  right:0;
  display: flex;
  align-items: flex-end;
}

.arrow{
  width:30px;
  display: flex;
  align-items: end;
}

.footer-log{
  display: flex;
  justify-content: space-between;
}

.uk-card-media-top {
  margin: auto;
  width: 60%;
  height: 60%;
}

.tabla-precios{
  margin: 8%;
}

.cuatrocerocuatro{
  color: white !important;
  background-color: #ecbeb7;
  margin: auto;
  margin-top:3%;
  text-align: center !important;
}


.centrado{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
}

.galleta{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-bottom: 8%;
}