body {
  padding: 0px;
  font-size: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  width: 100% !important;
}

header {
  background-color: #b5d3cc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 100px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

main {
  margin: 50px;
}

.logo {
  height: 800px;
  background-color: #b5d3cc;
  display: flex;
  align-items: center;
}

/* logo*/
.logo-intro {
  height: 450px;
  width: 450px;
}

.cuerpo {
  margin: 0px;
}

.subtitles {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #ecbeb7;
  padding-left: 8%;
  letter-spacing: 4px;
}

h1 {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 600 !important;
  font-size: 40px;
  color: #ecbeb7 !important;
  letter-spacing: 1px;
}

h3 {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 400 !important;
  font-size: 22px;
  color: #ecbeb7 !important;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

footer {
  padding: 60px 100px 20px;
  background: #b5d3cc;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  letter-spacing: 6px;
  line-height: 50px;
  position: relative;
}

a:link {
  color: darkgray;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: #ecbeb7 !important;
  text-decoration: line-through !important;
}

/* selected link */
a:active {
  color: #ecbeb7 !important;
}

.dona-footer {
  height: 80px;
  position: absolute;
  right: 60px;
  top: calc(100% - 342px);
}

.logo-footer {
  height: 200px;
  width: 200px;
  right: 0;
  display: flex;
  align-items: flex-end;
}

.arrow {
  width: 30px;
  display: flex;
  align-items: end;
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 50px;
}

.footer-log {
  display: flex;
  justify-content: space-between;
}

.uk-card-media-top {
  margin: auto;
  width: 60%;
  height: 60%;
}

.tabla-precios {
  margin: 8%;
}

.cuatrocerocuatro {
  color: white !important;
  background-color: #ecbeb7;
  margin: auto;
  margin-top: 3%;
  text-align: center !important;
  font-size: 48px;
}

.centrado {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-align: center;
}

.galleta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-bottom: 8%;
}

.logomenu {
  height: 60px;
  width: 60px;
}

nav {
  display: flex;
  align-items: center;
  z-index: 1020;
  padding: 0 !important;
  background: #fff;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.titulo-aviso {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  color: #ecbeb7 !important;
  letter-spacing: 0.1px !important;
}

.texto-aviso {
  font-size: 12px;
  line-height: 25px;
}

b:link {
  color: darkgray;
}

/* visited link */
b:visited {
  color: darkgrey !important;
}

/* mouse over link */
b:hover {
  color: white !important;
  text-decoration: line-through !important;
}

/* selected link */
b:active {
  color: white !important;
}

.faq-page:link {
  color: white;
  font-weight: 600;
}

/* visited link */
.faq-page:visited {
  color: white !important;
  font-weight: 600;
}

/* mouse over link */
.faq-page:hover {
  color: white !important;
  text-decoration: line-through !important;
}

/* selected link */
.faq-page:active {
  color: white !important;
}

.promos {
  margin-top: 5%;
}

.faq {
  padding: 60px 100px 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  letter-spacing: 6px;
  line-height: 50px;
  position: relative;
}

.boton-home {
  background-color: #ecbeb7 !important;
  color: white !important;
  border-style: hidden !important;
  padding: 5px 70px !important;
  width: 250px !important;
  font-size: 12px !important;
}

.boton-home:hover {
  text-decoration: line-through !important;
}

.boton-form {
  background-color: #b5d3cc !important;
  color: white !important;
  border-style: hidden !important;
  padding: 5px 70px !important;
  width: 250px !important;
  font-size: 12px !important;
}

.boton-form:hover {
  text-decoration: line-through !important;
}

.menu-index {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  color: #ecbeb7 !important;
  letter-spacing: 1px;
}

.menu-bold {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
}

.menu-description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}

.productos-home {
  font-family: "Raleway", sans-serif;
  font-size: 20px !important;
  color: darkgray !important;
  font-weight: 400 !important;
  line-height: 50px !important;
}

.cuerpo > nav a {
  min-width: 50px;
}

.form-container {
  height: calc(100vh - 50px);
}

.boton-enviar {
  background-color: #b5d3cc;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
  padding: 12px 80px;
  border-style: hidden;
}

.boton-enviar:hover {
  text-decoration: line-through !important;
}

.order-home {
  color: white !important;
}

.frostings {
  margin-top: 4%;
}

.ultima {
  margin-top: 4%;
}

.faq-p {
  font-size: 14px;
  color: darkgray;
  letter-spacing: 0.3px;
  line-height: 30px;
}

.preguntas-faq {
  letter-spacing: 0.7px;
  color: #514f49 !important;
}

.toppings {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #ecbeb7;
  opacity: 0.9;
}

.boton-promos {
  color: #b5d3cc !important;
  border-color: #b5d3cc !important;
  background-color: white;
}

div#order {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-order {
  width: 65%;
  margin: 5%;
}

.main-check {
  width: 35%;
  margin: 10px;
}

.price-description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.center {
  text-align: center;
}

.order-title{
  color: #b5d3cc !important;
}

.select {
  background-color: white;
  color: #514f49;
  font-size: 14px;
  font-weight: 400;
}

#priceText{
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  display: inline;
  margin: auto;

}

.display-dessert {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 35px !important;
  text-align: center !important;
}


/*# sourceMappingURL=style.css.map */
